<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/static/style/style.css">
    <script src="https://kit.fontawesome.com/4ef9093d57.js" crossorigin="anonymous"></script>
    <title>friend recovery</title>
</head>
<body>
    <input type="file" id="file1" style="display:none">
    <div class = "mainBox">
        <div class = "iconBox">
            <p><i class = "fa fa-cog"></i></p>
        </div>
        <div class = "textBox">
            LOAD FILE
        </div>
        <div class = "uploadBox" onclick="openFileOption();return;">
            <div class = "uploadBoxIcon"><i class="fa-solid fa-cloud"></i></div>
            <button>Upload</button>
        </div>
        <div class = "enterBox" id="loginButton">
            <div class = "uploadBoxIcon"><i class="fa-brands fa-centercode"></i></div>
            <button>Enter</button>
        </div>
    </div>
    <div class="container">
        
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>